{"installed":{"client_id":"CLIENT_ID","project_id":"GOOGLE_PROJECT","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"AUTH_PROVIDER","client_secret":"CLIENT_SECRET","redirect_uris":["http://localhost"]}}